* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-image: url("./img//background.webp");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
}

.glass {
  height: 50rem;
  max-width: 80rem;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1rem);
  border-radius: 1rem;
  box-shadow: 0 0.8rem 3.2rem 0 rgba(0, 0, 0, 0.3);
}
